/bin
/local
/pkg
/src
/website/.sass-cache
/website/build
.DS_Store
.vagrant
.idea
test/.env
*~
*.received.*

website/.bundle
website/vendor

packer-test*.log

*.received.txt
*.received.json

.idea/
*.iml

vendor/github.com/aws/aws-sdk-go/aws/client/logger.go
vendor/github.com/aws/aws-sdk-go/aws/context.go
vendor/github.com/aws/aws-sdk-go/aws/context_1_6.go
vendor/github.com/aws/aws-sdk-go/aws/context_1_7.go
vendor/github.com/aws/aws-sdk-go/aws/credentials/plugincreds/
vendor/github.com/aws/aws-sdk-go/aws/defaults/shared_config.go
vendor/github.com/aws/aws-sdk-go/aws/doc.go
vendor/github.com/aws/aws-sdk-go/aws/jsonvalue.go
vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error.go
vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error_other.go
vendor/github.com/aws/aws-sdk-go/aws/request/request_context.go
vendor/github.com/aws/aws-sdk-go/aws/request/request_context_1_6.go
vendor/github.com/aws/aws-sdk-go/aws/request/timeout_read_closer.go
vendor/github.com/aws/aws-sdk-go/aws/request/waiter.go
vendor/github.com/aws/aws-sdk-go/aws/signer/v4/options.go
vendor/github.com/aws/aws-sdk-go/aws/url.go
vendor/github.com/aws/aws-sdk-go/aws/url_1_7.go
vendor/github.com/aws/aws-sdk-go/awsmigrate/
vendor/github.com/aws/aws-sdk-go/awstesting/
vendor/github.com/aws/aws-sdk-go/doc-src/
vendor/github.com/aws/aws-sdk-go/doc.go
vendor/github.com/aws/aws-sdk-go/example/
vendor/github.com/aws/aws-sdk-go/internal/
vendor/github.com/aws/aws-sdk-go/models/
vendor/github.com/aws/aws-sdk-go/private/README.md
vendor/github.com/aws/aws-sdk-go/private/model/
vendor/github.com/aws/aws-sdk-go/private/protocol/restjson/
vendor/github.com/aws/aws-sdk-go/private/signer/
vendor/github.com/aws/aws-sdk-go/private/util/
vendor/github.com/aws/aws-sdk-go/service/acm/
vendor/github.com/aws/aws-sdk-go/service/apigateway/
vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/
vendor/github.com/aws/aws-sdk-go/service/applicationdiscoveryservice/
vendor/github.com/aws/aws-sdk-go/service/appstream/
vendor/github.com/aws/aws-sdk-go/service/athena/
vendor/github.com/aws/aws-sdk-go/service/autoscaling/
vendor/github.com/aws/aws-sdk-go/service/batch/
vendor/github.com/aws/aws-sdk-go/service/budgets/
vendor/github.com/aws/aws-sdk-go/service/clouddirectory/
vendor/github.com/aws/aws-sdk-go/service/cloudformation/
vendor/github.com/aws/aws-sdk-go/service/cloudfront/
vendor/github.com/aws/aws-sdk-go/service/cloudhsm/
vendor/github.com/aws/aws-sdk-go/service/cloudsearch/
vendor/github.com/aws/aws-sdk-go/service/cloudsearchdomain/
vendor/github.com/aws/aws-sdk-go/service/cloudtrail/
vendor/github.com/aws/aws-sdk-go/service/cloudwatch/
vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/
vendor/github.com/aws/aws-sdk-go/service/cloudwatchlogs/
vendor/github.com/aws/aws-sdk-go/service/codebuild/
vendor/github.com/aws/aws-sdk-go/service/codecommit/
vendor/github.com/aws/aws-sdk-go/service/codedeploy/
vendor/github.com/aws/aws-sdk-go/service/codepipeline/
vendor/github.com/aws/aws-sdk-go/service/codestar/
vendor/github.com/aws/aws-sdk-go/service/cognitoidentity/
vendor/github.com/aws/aws-sdk-go/service/cognitoidentityprovider/
vendor/github.com/aws/aws-sdk-go/service/cognitosync/
vendor/github.com/aws/aws-sdk-go/service/configservice/
vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/
vendor/github.com/aws/aws-sdk-go/service/databasemigrationservice/
vendor/github.com/aws/aws-sdk-go/service/datapipeline/
vendor/github.com/aws/aws-sdk-go/service/dax/
vendor/github.com/aws/aws-sdk-go/service/devicefarm/
vendor/github.com/aws/aws-sdk-go/service/directconnect/
vendor/github.com/aws/aws-sdk-go/service/directoryservice/
vendor/github.com/aws/aws-sdk-go/service/dynamodb/
vendor/github.com/aws/aws-sdk-go/service/dynamodbstreams/
vendor/github.com/aws/aws-sdk-go/service/ec2/doc.go
vendor/github.com/aws/aws-sdk-go/service/ec2/ec2iface/
vendor/github.com/aws/aws-sdk-go/service/ecr/doc.go
vendor/github.com/aws/aws-sdk-go/service/ecr/ecriface/
vendor/github.com/aws/aws-sdk-go/service/ecs/
vendor/github.com/aws/aws-sdk-go/service/efs/
vendor/github.com/aws/aws-sdk-go/service/elasticache/
vendor/github.com/aws/aws-sdk-go/service/elasticbeanstalk/
vendor/github.com/aws/aws-sdk-go/service/elasticsearchservice/
vendor/github.com/aws/aws-sdk-go/service/elastictranscoder/
vendor/github.com/aws/aws-sdk-go/service/elb/
vendor/github.com/aws/aws-sdk-go/service/elbv2/
vendor/github.com/aws/aws-sdk-go/service/emr/
vendor/github.com/aws/aws-sdk-go/service/firehose/
vendor/github.com/aws/aws-sdk-go/service/gamelift/
vendor/github.com/aws/aws-sdk-go/service/generate.go
vendor/github.com/aws/aws-sdk-go/service/glacier/
vendor/github.com/aws/aws-sdk-go/service/greengrass/
vendor/github.com/aws/aws-sdk-go/service/health/
vendor/github.com/aws/aws-sdk-go/service/iam/
vendor/github.com/aws/aws-sdk-go/service/inspector/
vendor/github.com/aws/aws-sdk-go/service/iot/
vendor/github.com/aws/aws-sdk-go/service/iotdataplane/
vendor/github.com/aws/aws-sdk-go/service/kinesis/
vendor/github.com/aws/aws-sdk-go/service/kinesisanalytics/
vendor/github.com/aws/aws-sdk-go/service/kms/
vendor/github.com/aws/aws-sdk-go/service/lambda/
vendor/github.com/aws/aws-sdk-go/service/lexmodelbuildingservice/
vendor/github.com/aws/aws-sdk-go/service/lexruntimeservice/
vendor/github.com/aws/aws-sdk-go/service/lightsail/
vendor/github.com/aws/aws-sdk-go/service/machinelearning/
vendor/github.com/aws/aws-sdk-go/service/marketplacecommerceanalytics/
vendor/github.com/aws/aws-sdk-go/service/marketplaceentitlementservice/
vendor/github.com/aws/aws-sdk-go/service/marketplacemetering/
vendor/github.com/aws/aws-sdk-go/service/mobileanalytics/
vendor/github.com/aws/aws-sdk-go/service/mturk/
vendor/github.com/aws/aws-sdk-go/service/opsworks/
vendor/github.com/aws/aws-sdk-go/service/opsworkscm/
vendor/github.com/aws/aws-sdk-go/service/organizations/
vendor/github.com/aws/aws-sdk-go/service/pinpoint/
vendor/github.com/aws/aws-sdk-go/service/polly/
vendor/github.com/aws/aws-sdk-go/service/rds/
vendor/github.com/aws/aws-sdk-go/service/redshift/
vendor/github.com/aws/aws-sdk-go/service/rekognition/
vendor/github.com/aws/aws-sdk-go/service/resourcegroupstaggingapi/
vendor/github.com/aws/aws-sdk-go/service/route53/
vendor/github.com/aws/aws-sdk-go/service/route53domains/
vendor/github.com/aws/aws-sdk-go/service/s3/doc.go
vendor/github.com/aws/aws-sdk-go/service/s3/doc_custom.go
vendor/github.com/aws/aws-sdk-go/service/s3/s3crypto/
vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/s3manageriface/
vendor/github.com/aws/aws-sdk-go/service/servicecatalog/
vendor/github.com/aws/aws-sdk-go/service/ses/
vendor/github.com/aws/aws-sdk-go/service/sfn/
vendor/github.com/aws/aws-sdk-go/service/shield/
vendor/github.com/aws/aws-sdk-go/service/simpledb/
vendor/github.com/aws/aws-sdk-go/service/sms/
vendor/github.com/aws/aws-sdk-go/service/snowball/
vendor/github.com/aws/aws-sdk-go/service/sns/
vendor/github.com/aws/aws-sdk-go/service/sqs/
vendor/github.com/aws/aws-sdk-go/service/ssm/
vendor/github.com/aws/aws-sdk-go/service/storagegateway/
vendor/github.com/aws/aws-sdk-go/service/sts/doc.go
vendor/github.com/aws/aws-sdk-go/service/sts/stsiface/
vendor/github.com/aws/aws-sdk-go/service/support/
vendor/github.com/aws/aws-sdk-go/service/swf/
vendor/github.com/aws/aws-sdk-go/service/waf/
vendor/github.com/aws/aws-sdk-go/service/wafregional/
vendor/github.com/aws/aws-sdk-go/service/workdocs/
vendor/github.com/aws/aws-sdk-go/service/workspaces/
vendor/github.com/aws/aws-sdk-go/service/xray/
vendor/github.com/aws/aws-sdk-go/vendor/
vendor/github.com/go-sql-driver/
vendor/github.com/gucumber/
vendor/github.com/pkg/errors/
vendor/github.com/shiena/
vendor/golang.org/x/tools/
