/bin
/local
/pkg
/src
/website/.sass-cache
/website/build
.DS_Store
.vagrant
.idea
test/.env
*~
*.received.*
*.swp

website/.bundle
website/vendor

packer-test*.log

*.received.txt
*.received.json

.idea/
*.iml
Thumbs.db
/packer.exe