env:
    - USER=travis

sudo: false

language: go

go:
  - 1.11.x
  - master

install:
  - make deps

script:
  - GOMAXPROCS=2 make ci

branches:
  only:
    - master

matrix:
  allow_failures:
    - go: master
  fast_finish: true
