env:
    - USER=travis

sudo: false

language: go

go:
  - 1.8.x
  - 1.9.x
  - 1.x

install:
  - make deps

script:
  - GOMAXPROCS=2 make ci

branches:
  only:
    - master

matrix:
  fast_finish: true
