* @hashicorp/packer

# builders

/examples/alicloud/                     @chhaj5236 @alexyueer
/builder/alicloud/                      @chhaj5236 @alexyueer
/website/pages/docs/builders/alicloud* @chhaj5236 @alexyueer

/examples/azure/                     @paulmey
/builder/azure/                      @paulmey
/website/pages/docs/builders/azure* @paulmey

/builder/digitalocean/                     @andrewsomething
/website/pages/docs/builders/digitalocean* @andrewsomething

/builder/hyperv/                      @taliesins
/website/pages/docs/builders/hyperv* @taliesins

/examples/jdcloud/                     @XiaohanLiang @remrain
/builder/jdcloud/                      @XiaohanLiang @remrain
/website/pages/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs @charliekenney23 @phillc
/website/pages/docs/builders/linode* @displague @ctreatma @stvnjacobs @charliekenney23 @phillc

/builder/lxc/                      @ChrisLundquist
/website/pages/docs/builders/lxc*  @ChrisLundquist
/test/fixtures/builder-lxc/        @ChrisLundquist
/test/builder_lxc*                 @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/pages/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/pages/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/pages/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @LiviusP @mflorin
/website/pages/docs/builders/profitbricks* @LiviusP @mflorin

/builder/triton/                      @sean-
/website/pages/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/pages/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/pages/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @scaleway/devtools
/website/pages/docs/builders/scaleway* @scaleway/devtools

/builder/hcloud/                      @LKaemmerling
/website/pages/docs/builders/hcloud* @LKaemmerling

/examples/hyperone/                    @m110 @gregorybrzeski @ad-m
/builder/hyperone/                     @m110 @gregorybrzeski @ad-m
/website/pages/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m
/test/builder_hyperone*                @m110 @gregorybrzeski @ad-m
/test/fixtures/builder-hyperone/       @m110 @gregorybrzeski @ad-m

/examples/ucloud/                     @shawnmssu
/builder/ucloud/                      @shawnmssu
/website/pages/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/pages/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas @Hakujou
/website/pages/docs/builders/osc* @marinsalinas @Hakujou

/examples/tencentcloud/                      @likexian
/builder/tencentcloud/                      @likexian
/website/pages/docs/builders/tencentcloud* @likexian



# provisioners

/examples/ansible/                      @bhcleek
/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/yandex-export/          @GennadySpb
/post-processor/yandex-import/          @GennadySpb
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu
