* @hashicorp/packer

# builders

/examples/azure/                     @paulmey
/builder/azure/                      @paulmey
/website/pages/docs/builders/azure* @paulmey

/builder/digitalocean/                     @andrewsomething
/website/pages/docs/builders/digitalocean* @andrewsomething

/builder/lxc/                      @ChrisLundquist
/website/pages/docs/builders/lxc*  @ChrisLundquist
/test/fixtures/builder-lxc/        @ChrisLundquist
/test/builder_lxc*                 @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/pages/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/pages/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/pages/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @LiviusP @mflorin
/website/pages/docs/builders/profitbricks* @LiviusP @mflorin

/builder/triton/                      @sean-
/website/pages/docs/builders/triton* @sean-

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/pages/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/examples/tencentcloud/                      @likexian
/builder/tencentcloud/                      @likexian
/website/pages/docs/builders/tencentcloud* @likexian

# provisioners

/examples/ansible/                      @bhcleek

# post-processors

/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/yandex-export/          @GennadySpb
/post-processor/yandex-import/          @GennadySpb
