.root {
  /* theming. Note that gold, gray, and purple
  have been set to hex values in order
  to match Terraform Registry tier labels. */
  &.theme-gray {
    --background-color: #8f96a2;
    --text-color: #fff;
  }
  &.theme-light-gray {
    --background-color: var(--gray-6);
    --text-color: var(--gray-3);
  }
  &.theme-gold {
    --background-color: #f8e397;
    --text-color: #975b06;
  }
  &.theme-blue {
    --background-color: var(--packer);
    --text-color: var(--packer-text-on-primary);
  }
  &.theme-purple {
    --background-color: #5c4ee5;
    --text-color: var(--white);
  }

  align-items: center;
  background: var(--background-color);
  border-radius: 3px;
  display: inline-flex;
  margin: 0;
  padding: 1px 8px 2px 8px;
  position: relative;
  top: -1px;
  vertical-align: bottom;
}

.text {
  /* composes */
  composes: g-type-body-small-strong from global;

  /* additional properties */
  color: var(--text-color);
  line-height: 21px;
}

.icon {
  margin-right: 4px;
  color: var(--text-color);
}
