/*
Note: colours have been hard-coded
to match Terraform Registry tier labels.
*/
.root {
  --background-color: #8f96a2;
  --text-color: #fff;

  align-items: center;
  background: var(--background-color);
  border-radius: 3px;
  display: inline-flex;
  margin: 0;
  padding: 1px 8px 2px 8px;
  position: relative;
  top: -1px;
  vertical-align: bottom;

  /* add spacing when above heading */
  &.isPageHeading {
    margin-top: 32px;
  }

  /* color variations */
  &.tier-official {
    --background-color: #f8e397;
    --text-color: #975b06;
  }

  /* color variations */
  &.tier-hcp_packer_ready {
    --background-color: var(--packer-secondary);
    --text-color: #026c9a;
  }
}

.text {
  /* composes */
  composes: g-type-body-small-strong from global;

  /* additional properties */
  color: var(--text-color);
  line-height: 21px;
}

.icon {
  margin-right: 4px;
  color: var(--text-color);
}
