#p-home {
  & > section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & #hero {
    text-align: center;

    & h1 {
      margin: 24px 0 40px 0;
    }

    & img {
      width: 300px;
      margin: 0 30px;
    }

    & .buttons {
      & > * {
        @media (max-width: 350px) {
          display: block;
          width: 80%;
          margin: 0 10%;
        }

        &:first-child {
          margin-right: 15px;

          @media (max-width: 350px) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  & #infrastructure-as-code {
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    & h2 {
      margin: 20px 0 10px 0;
    }

    & .code-block,
    & .text {
      width: calc(50%);

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    & .code-block {
      margin-right: 50px;
      background: black;
      color: white;
      padding: 15px 20px 20px;
      font-family: dejavu-sans-mono-web, monospace;
      font-size: 14px;
      overflow: scroll;

      @media (max-width: 1000px) {
        margin-right: 0;
        margin-bottom: 50px;
      }

      & .circles {
        display: flex;
        margin-bottom: 8px;

        & > span {
          display: block;
          width: 8px;
          height: 8px;
          background: white;
          border-radius: 50%;
          margin-right: 4px;
        }
      }

      & span {
        display: block;
        white-space: pre;

        &.green {
          color: #5bfb5a;
        }

        &.blue {
          color: #53ffff;
        }
      }
    }
  }

  & #integrations {
    background: var(--packer-secondary);
    color: white;

    & > .g-container {
      display: flex;
      flex-direction: row-reverse;

      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }

    & h2 {
      margin: 20px 0 10px 0;
    }

    & .text {
      color: var(--packer-text-on-primary);
    }

    & .logos,
    & .text {
      width: calc(50%);

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    & .logos {
      display: flex;
      flex-wrap: wrap;
      height: 212px;
      margin-left: 50px;
      max-width: 600px;

      @media (max-width: 1000px) {
        margin: 0 auto;
        margin-bottom: 50px;
      }

      & > img {
        display: block;
        background: white;
        padding: 25px;
        width: calc(33.3333% - 10px);
        height: 100px;
        margin-right: 10px;
        margin-bottom: 10px;

        @media (max-width: 400px) {
          padding: 15px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  & .tag {
    background: black;
    color: white;
    display: inline-block;
    padding: 6px 9px;
  }
}
