#p-downloads {
  /** DEBT: short-term color override until we upgrade to the most recent product downloader.
  This will be handled as part of the "Redesigned Downloads Pages" project:
  https://app.asana.com/0/1179659922742997/1199639822462636 */
  --brand: var(--packer);

  color: black !important;
  margin-top: 72px;
  margin-bottom: 72px;

  & .g-type-buttons-and-standalone-links {
    color: black;
  }

  & .g-product-downloader.product-packer {
    --highlight-color: var(--packer-link);
  }
}
