.hero {
    height: $hero-height;
    background: #000000 url(/images/hero_image.jpg) no-repeat 35px -40px;
    background-size: 960px 467px;

    h2 {
        margin-top: 70px;
    }
}

.belt {
    &.download {
        background-color: $white;
        @extend .padded-sm;
    }

    .download-container {
        background: url(/images/down_arrow.png) no-repeat top left;
        min-height: 73px;
        width: 320px;
        margin: 0 auto;
        padding-left: 100px;
    }

    h2 {
        font-family: $serif;
        font-size: 38px;
        color: #7bc6b1;
        margin: 0px;
        padding: 0px;
        padding-top: 7px;
        padding-bottom: 3px;
        line-height: 1.0;

        &:hover {
            color: $dark-background;
        }
    }

    span {
        color: $gray-dark;
    }
}


// break this out into sections

.about {

    hgroup {
        display: table;
        margin-bottom: $baseline * 2;
        @include respond-to(mobile) {
            display: block;
        }
    }

    h2.has-dividers {
        @include respond-to(mobile) {
            display: block;
        }
    }

    .dividers {

    }

}

.vendors {

    .company-logos {
        text-indent: -999999px;
        margin-left: 50px;
        @include respond-to(mobile) {
            margin-left: 0;
        }

        li {
            height: 100px;
            @include respond-to(mobile) {
                margin-bottom: $baseline * 2;
            }
        }

        .aws {
            background: url(/images/works_with_aws.png) no-repeat center center;
        }
        .virtualbox {
            background: url(/images/works_with_virtual.png) no-repeat center center;
        }
        .vmware {
            background: url(/images/works_with_vmware.png) no-repeat center center;
        }
    }



}

.users {


    .company-logos {
        text-indent: -999999px;
        margin-left: 40px;
        @include respond-to(mobile) {
            margin-left: 0;
        }

        li {
            height: 100px;
        }

        .expedia {
            background: url(../../img/user_expedia.png) no-repeat center center;
        }
        .bbc {
            background: url(../../img/user_bbc.png) no-repeat center center;
        }
        .disqus {
            background: url(../../img/user_disqus.png) no-repeat center center;
        }
        .edgecast {
            background: url(../../img/user_edgecast.png) no-repeat center center;
        }
    }
}


.docs-wrapper {
    clear: right;

    .docs-body {
        float: left;
        width: 70%;
        max-width: 760px;
        display: block;
        @extend .white-background;

        .docs-content {
            padding: $docs-top-margin 80px;
            display: block;

            code {
                background-color: #000;
                border: 0;
                color: #b1d631;
                font-size: 14px;
            }

            ul,
            ol {
                list-style-type: circle;
                list-style-position: inside;
                margin-top: $baseline;
                margin-left: 20px;
                margin-right: 20px;

                li {
                    font-family: $serif;
                    font-size: 17px;
                    line-height: (30/17) !important;
                    margin-bottom: $baseline;
                }
            }

            pre {
                border: 0;
                font-size: 14px;
                margin-left: -80px;
                margin-right: -80px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 80px;
                padding-right: 80px;
                border-radius: 0;
            }
        }

        .docs-background {
            @extend .white-background;
            height: 100%;
            width: 70%;
            max-width: 760px;
            position: fixed;
            top: 0;
            left: $sidebar-width;
            z-index: -9999;
        }

        section {
            margin-top: $docs-top-margin;
        }

        h1 {
            font-size: 40px;
            line-height: (25/20);
            text-transform: uppercase;
        }

        h2 {
            margin-top: $baseline * 2;
            text-transform: capitalize;
        }

        h3 {
            margin-top: $baseline;
            text-transform: capitalize;
        }
    }
}

.pagination {
    $border: 1px solid $gray-mid;
    height: $nav-height;
    border-top: $border;
    font-size: 20px;
    margin: 0px;

    h4 {
        display: inline-block;
        margin-top: ($baseline * 1.7);
        margin-left: $baseline;

        @include respond-to(mobile) {
            margin-top: 10px;
        }
    }

    span {

        @include respond-to(mobile) {
            display: block;
        }
    }

    .previous-section,
    .next-section {
        height: $nav-height;
        display: block;

        &:hover {
            background-color: transparentize($gray-light, .7);
        }
    }

    .previous-section {
        width: $nav-height;
        border-right: $border;
        float: left;
        background: $white url(/images/arrow-left.png) no-repeat center center;
        @include respond-to(mobile) {
            width: 50%;
            background-position: left center;
        }
    }

    .next-section {
        background: $white url(/images/arrow-right.png) no-repeat center right;
    }
}
