nav {
    height: $nav-height;
    padding: $baseline 0;
    padding: 0;
    margin: 0;
    min-width: 940px;
    text-transform: uppercase;
    color: $white;
    font-family: $sans;
    font-size: 16px;
    border-bottom: 1px solid $border-dark;

    ul {
        margin-top: ($baseline * 2);
        margin-left: $nav-height;

        li {
            display: inline-block;
            margin-right: 50px;
        }

    }

    .packer-logo {
        background: url(/images/logo_nav.png) no-repeat center top;
        height: 80px;
        width: 80px;
        background-size: 34px 50px;
        text-indent: -999999px;
        display: inline-block;
        margin-top: 25px;
    }

    .active {
        color: $green;
    }

    button {
        margin-top: $baseline;
    }

} //nav
