//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

#header {
  flex-direction: row;
  background-color: $black;
  .navbar-brand {
    .logo{
      color: $green;
      padding-left: 36px;
      font-size: 22px;
      line-height: 77px;
      background: image-url('../images/logo-header.png') 0 0 no-repeat;
      @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-width, $project-logo-height);
      background-position: 0 center;

      &:hover{
        opacity: .6;
      }
    }

    .by-hashicorp{
      &:hover{
        svg{
          .svg-bg-line{
            opacity: .4;
          }
        }
      }
    }
  }

  .buttons{
    margin-top: 2px; //baseline everything

    .navigation-links{
        float: right;
    }
  }

  .main-links,
  .external-links {
    li > a {
      @include project-a-style();
    }
  }

  .main-links {
    li > a {
      color: $white;

      &:hover{
        color: $green;
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .navbar-brand {

    }
  }
}

@media (max-width: 414px) {
  #header {
    .navbar-brand {
      .logo{
        padding-left: 37px;
        font-size: 18px;
        @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-width * .75, $project-logo-height * .75);
        //background-position: 0 45%;
      }
    }
  }
}


@media (max-width: 320px) {
  #header {
    .navbar-brand {
      .logo{
        font-size: 0 !important; //hide terraform text
      }
    }
  }
}
