nav {
  height: $nav-height;
  height: $nav-height;
  padding: 0;
  margin: 0;
  min-width: 940px;
  text-transform: uppercase;
  color: $white;
  font-family: $sans;
  font-size: 16px;
  border-bottom: 1px solid $border-dark;

  ul {
    margin-top: ($baseline * 2);
    margin-left: $nav-height;

    li {
      display: inline-block;
      margin-right: 50px;
    }
  }

  .packer-logo {
    background: image-url('logo_nav.png') no-repeat center top;
    height: 80px;
    width: 80px;
    background-size: 34px 50px;
    text-indent: -999999px;
    display: inline-block;
    margin-top: 25px;
  }

  @media (min-width: $screen-md-min) {
    ul {
      li {
        &.featured {
          margin: -20px 0 0 10px;
          float: right;

          a {
            @include button;
            font-weight: bold;
          }
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    height: auto;
    padding: 0;
    min-width: auto;

    ul {
      margin: 1em 0 1em 80px;

      li {
        display: block;
        margin: 0;
        padding: 1em;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    button {

    }
  }
}
