// Colors
$white: #FFFFFF;
$black: #000000;
$gray-darker: #555555;

$packer-blue: #1DAEFF;
$packer-blue-dark: #1D94DD;
$vagrant-blue: #1563FF;
$vagrant-blue-dark: #104EB2;
$vault-black: #000000;
$vault-blue: #00ABE0;
$green: #7bc6b1;

// Typography
$font-family-klavika:   'klavika-web', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-open-sans: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono: 'Inconsolata', 'Monaco', 'courier new', courier, monospace;
$font-size:             16px;
$font-weight-reg:       400;
$font-weight-bold:      600;


.open-sans { font-family: $font-family-open-sans;}
.klavika { font-family: $font-family-klavika; }
.mono { font-family: $font-family-mono; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

// helper class to add additional weight and subtle spacing
// to improve legibility of light text on dark backgrounds
.rev-out { font-weight: 600; letter-spacing: 0.01em; }

.uppercase { text-transform: uppercase !important; }
.letterspaced { letter-spacing: 0.05em; }

// Body
$body-font-color: $gray-darker;
$body-link-color: $packer-blue-dark;

// Sidebar
$sidebar-background-color: $white;
$sidebar-font-size: $font-size - 2;
$sidebar-link-color: $body-font-color;
$sidebar-link-color-hover: $black;
$sidebar-link-color-active: $body-link-color;
$sidebar-font-family: $font-family-open-sans;
$sidebar-font-weight: $font-weight-reg;

// Header
$header-height: 92px;
$header-font-size: $font-size - 2;
$header-link-color: $body-font-color;
$header-link-color-hover: $black;

// Footer
$footer-font-size: $font-size - 2;
$footer-link-color: $body-font-color;
$footer-link-color-hover: $black;

// Buttons
$button-font-family: $font-family-klavika;
$button-font-size: $font-size - 2;
$button-font-weight: $font-weight-bold;

// components
$nav-height: 100px;
$hero-height: 350px;
$docs-top-margin: 40px;
$sidebar-width: 250px;

// base measures
$baseline: 20px;
$base-font-size: 16px;
$base-line-height: 1.8;
$button-height: 60px;
