<div class="home">

	<header class="dark-background">
	<div class="container hero">
		<div class="row">
			<div class="span6 offset1">
				<h2>
					<span class="text-green">Packer</span> is a tool for creating identical machine images for multiple platforms from a single source configuration.
				</h2>
			</div>
		</div>
	</div>
	</header>

	<section class="belt download">
	<div class="container">
		<div class="row">
			<div class="span6 offset3">
					<img class="pull-left download-arrow" src="/images/down_arrow.png" alt="down_arrow" />
					<h2><a href="#">Download v0.1</a></h2>
					<small class="uppercase mono">
						<a href="#">
							Release Notes
							<!-- {{releasedate}} -->
							<span>06/17/13</span>
						</a>
					</small>
			</div>
		</div>
	</div>
	</section>

	<section class="about padded-lg text-center">
	<div class="container">
		<div class="row">
			<h1 class="text-green">Fast, concurrent, extensible.</h1>
		</div>
		<div class="row">
			<p class="span6 offset3">Designed to create identical images for development, test, and production. Packer is lightweight and easy to use. It is lightning fast, parallelizes concurrent jobs, and is infinitely customizable.</p>
		</div>
	</div>
	</section>

	<section class="vendors text-center">
	<div class="container padded-lg">
		<div class="row">
			<div class="span8 offset2">
				<h1 class="text-green">Works great with</h1>
			</div>
		</div>
		<div class="row">
			<p class="span6 offset3">
				Out of the box, Packer comes with support to build images
				for the following platforms. Support for additional platforms is
				coming and can also be added through plugins.
			</p>
		</div>
		<div class="row">
			<ul class="company-logos padded">
				<li class="aws span3 offset1">Amazon Web Services</li>
				<li class="virtualbox span3">Virtualbox</li>
				<li class="vmware span3">VM Ware</li>
			</ul>
		</div>
	</div>
	</section>

</div> <!-- /.home -->
