<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h2>Docs</h2>
    <ul>
      <li>
        <h4>Machine-Readable Reference</h4>
      </li>
      <li><a href="/docs/index.html">&laquo; Back to Docs</a></li>
      <li><a href="/docs/machine-readable/general.html">General Types</a></li>
      <li><a href="/docs/machine-readable/command-build.html">Command: build</a></li>
      <li><a href="/docs/machine-readable/command-inspect.html">Command: inspect</a></li>
      <li><a href="/docs/machine-readable/command-version.html">Command: version</a></li>
    </ul>
  <% end %>
  <%= yield %>
<% end %>
