<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h2>Docs</h2>
    <ul>
      <li><a href="/docs/installation.html">Installation</a></li>
      <li><a href="/docs/basics/terminology.html">Terminology</a></li>
    </ul>
    <ul>
      <li>
        <h4>Command-Line</h4>
      </li>
      <li><a href="/docs/command-line/introduction.html">Introduction</a></li>
      <li><a href="/docs/command-line/build.html">Build</a></li>
      <li><a href="/docs/command-line/fix.html">Fix</a></li>
      <li><a href="/docs/command-line/inspect.html">Inspect</a></li>
      <li><a href="/docs/command-line/push.html">Push</a></li>
      <li><a href="/docs/command-line/validate.html">Validate</a></li>
      <li><a href="/docs/command-line/machine-readable.html">Machine-Readable Output</a></li>
    </ul>
    <ul>
      <li>
        <h4>Templates</h4>
      </li>
      <li><a href="/docs/templates/introduction.html">Introduction</a></li>
      <li><a href="/docs/templates/builders.html">Builders</a></li>
      <li><a href="/docs/templates/provisioners.html">Provisioners</a></li>
      <li><a href="/docs/templates/post-processors.html">Post-Processors</a></li>
      <li><a href="/docs/templates/push.html">Push</a></li>
      <li><a href="/docs/templates/communicator.html">Communicators</a></li>
      <li><a href="/docs/templates/configuration-templates.html">Configuration Templates</a></li>
      <li><a href="/docs/templates/user-variables.html">User Variables</a></li>
      <li><a href="/docs/templates/veewee-to-packer.html">Veewee-to-Packer</a></li>
    </ul>
    <ul>
      <li>
        <h4>Builders</h4>
      </li>
      <li><a href="/docs/builders/amazon.html">Amazon EC2 (AMI)</a></li>
      <li><a href="/docs/builders/azure.html">Azure Resource Manager</a></li>
      <li><a href="/docs/builders/digitalocean.html">DigitalOcean</a></li>
      <li><a href="/docs/builders/docker.html">Docker</a></li>
      <li><a href="/docs/builders/googlecompute.html">Google Compute Engine</a></li>
      <li><a href="/docs/builders/null.html">Null</a></li>
      <li><a href="/docs/builders/openstack.html">OpenStack</a></li>
      <li><a href="/docs/builders/parallels.html">Parallels</a></li>
      <li><a href="/docs/builders/qemu.html">QEMU</a></li>
      <li><a href="/docs/builders/virtualbox.html">VirtualBox</a></li>
      <li><a href="/docs/builders/vmware.html">VMware</a></li>
      <li><a href="/docs/builders/custom.html">Custom</a></li>
    </ul>
    <ul>
      <li>
        <h4>Provisioners</h4>
      </li>
      <li><a href="/docs/provisioners/shell.html">Remote Shell</a></li>
      <li><a href="/docs/provisioners/shell-local.html">Local Shell</a></li>
      <li><a href="/docs/provisioners/file.html">File Uploads</a></li>
      <li><a href="/docs/provisioners/powershell.html">PowerShell</a></li>
      <li><a href="/docs/provisioners/windows-shell.html">Windows Shell</a></li>
      <li><a href="/docs/provisioners/ansible-local.html">Ansible Local</a></li>
      <li><a href="/docs/provisioners/ansible.html">Ansible Remote</a></li>
      <li><a href="/docs/provisioners/chef-client.html">Chef Client</a></li>
      <li><a href="/docs/provisioners/chef-solo.html">Chef Solo</a></li>
      <li><a href="/docs/provisioners/puppet-masterless.html">Puppet Masterless</a></li>
      <li><a href="/docs/provisioners/puppet-server.html">Puppet Server</a></li>
      <li><a href="/docs/provisioners/salt-masterless.html">Salt</a></li>
      <li><a href="/docs/provisioners/windows-restart.html">Windows Restart</a></li>
      <li><a href="/docs/provisioners/custom.html">Custom</a></li>
    </ul>
    <ul>
      <li>
        <h4>Post-Processors</h4>
      </li>
      <li><a href="/docs/post-processors/amazon-import.html">amazon-import</a></li>
      <li><a href="/docs/post-processors/artifice.html">Artifice</a></li>
      <li><a href="/docs/post-processors/atlas.html">Atlas</a></li>
      <li><a href="/docs/post-processors/compress.html">compress</a></li>
      <li><a href="/docs/post-processors/checksum.html">checksum</a></li>
      <li><a href="/docs/post-processors/docker-import.html">docker-import</a></li>
      <li><a href="/docs/post-processors/docker-push.html">docker-push</a></li>
      <li><a href="/docs/post-processors/docker-save.html">docker-save</a></li>
      <li><a href="/docs/post-processors/docker-tag.html">docker-tag</a></li>
      <li><a href="/docs/post-processors/shell-local.html">Local Shell</a></li>
      <li><a href="/docs/post-processors/vagrant.html">Vagrant</a></li>
      <li><a href="/docs/post-processors/vagrant-cloud.html">Vagrant Cloud</a></li>
      <li><a href="/docs/post-processors/vsphere.html">vSphere</a></li>
    </ul>
    <ul>
      <li>
        <h4>Other</h4>
      </li>
      <li><a href="/docs/other/core-configuration.html">Core Configuration</a></li>
      <li><a href="/docs/other/debugging.html">Debugging</a></li>
      <li><a href="/docs/other/environmental-variables.html">Environmental Variables</a></li>
    </ul>
    <ul>
      <li>
        <h4>Extend Packer</h4>
      </li>
      <li><a href="/docs/extend/plugins.html">Packer Plugins</a></li>
      <li><a href="/docs/extend/developing-plugins.html">Developing Plugins</a></li>
      <li><a href="/docs/extend/builder.html">Custom Builder</a></li>
      <li><a href="/docs/extend/command.html">Custom Command</a></li>
      <li><a href="/docs/extend/post-processor.html">Custom Post-Processor</a></li>
      <li><a href="/docs/extend/provisioner.html">Custom Provisioner</a></li>
    </ul>
  <% end %>
  <%= yield %>
<% end %>
