<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h2>Intro</h2>
    <ul>
      <li>
        <h4>About</h4>
      </li>
      <li><a href="/intro/index.html">What is Packer?</a></li>
      <li><a href="/intro/why.html">Why Use Packer?</a></li>
      <li><a href="/intro/use-cases.html">Use Cases</a></li>
      <li><a href="/intro/platforms.html">Supported Platforms</a></li>
      <li><a href="/intro/hashicorp-ecosystem.html">Packer & the HashiCorp Ecosystem</a></li>
    </ul>
    <ul>
      <li>
        <h4>Getting Started</h4>
      </li>
      <li><a href="/intro/getting-started/setup.html">Install Packer</a></li>
      <li><a href="/intro/getting-started/build-image.html">Build an Image</a></li>
      <li><a href="/intro/getting-started/provision.html">Provision</a></li>
      <li><a href="/intro/getting-started/parallel-builds.html">Parallel Builds</a></li>
      <li><a href="/intro/getting-started/vagrant.html">Vagrant Boxes</a></li>
      <li><a href="/intro/getting-started/remote-builds.html">Remote Builds</a></li>
      <li><a href="/intro/getting-started/next.html">Next Steps</a></li>
    </ul>
  <% end %>
  <%= yield %>
<% end %>
