<!DOCTYPE html>
<html>
	<head>
		<title>Packer</title>
		<meta name="description" content="Packer is a free and open source tool for creating golden images for multiple platforms from a single source configuration." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- rewrite URLs for @2x retina images -->
		<script>
			if((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1) {
				document.cookie='HTTP_IS_RETINA=1;path=/';
			}
		</script>

		<!-- HTML5 shiv -->
		<!--[if lt IE 9]>
		<script src="dist/html5shiv.js"></script>
		<![endif]-->

		<!-- css -->
		<%= stylesheet_link_tag "bootstrap.min", "main" %>

		<!-- js -->

		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//use.typekit.net/apr3jjs.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>

		<nav class="dark-background">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<button class="download pull-right primary hidden-phone">Download</button>
					<a href="index.php" class="packer-logo pull-left">Packer</a>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="/docs">Documentation</a></li>
					</ul>

				</div>
			</div>
		</div>
		</nav>

		<%= yield %>

		<footer class="dark-background">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<ul>
						<li class="packer hidden-phone"><a href="#">Packer</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Contact</a></li>
						<li class="pull-right hashi-logo"><a href="http://www.hashicorp.com">Hashicorp</a></li>
					</ul>
				</div>
			</div>
		</div>
		</footer>
	</body>
</html>
